![This is an image](Quant-Trading.jpg)

<font size="3">
Please visit our website <a href="https://www.quant-trading.co" target="_blank">quant-trading.co</a> for more tools on quantitative finance and data science.
</font>

In [1]:
# !pip install pandas-datareader

## **¿How to download data from the OECD database?**


<font size="3"> The OECD provides access to datasets in the catalogue of OECD databases through a RESTful application programming interface (API) based on the SDMX-ML standard.  This allows a developer to easily call the API using simple RESTful URL programmatically. Fortunately we can use the pandas_datareader library for that purpose as we have shown previously. <br><br>

<font size="3">
The pandas_datareader library allows you to fetch data from different sources, including Yahoo Finance for financial market data, World Bank for global development data, and St. Louis Fed for economic data. In this notebook, we’ll show how you can load data from OECD. Behind the scene, pandas_datareader pulls the data you want from the web in real time and assembles it into a pandas DataFrame. Because of the vastly different structure of web pages, each data source needs a different reader. Hence, pandas_datareader only supports reading from a limited number of sources, mostly related to financial and economic time series. Below you can find an example on how this works.<br><br>
    
<font size="3">
We will also show how to download data directly without the use of any particular python library and we will also briefly explore the pandasdmx library, which can be also used in this API.

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas_datareader.data as web  #Pandas Datareader
import datetime

## **Historical price data - specific dates**


<font size="3">
In this example we show how to download data for an specific timeframe. We need to know the code of the specific OECD's database. For example, in this case we are using the database "MEI_FIN" which is related to financial variables. To get those codes you can visit the OECD webpage https://stats.oecd.org/ to see what info is available.

In [3]:
#DATES
start_date = datetime.datetime(2013, 12, 31)
end_date = datetime.datetime(2023, 12, 31)

#SPECIFIC DATABASE WITHIN OECD API
database = 'MEI_FIN'

df1 = web.DataReader(database, 'oecd', start_date, end_date)
df1

Subject    Share Prices, Index                                        \
Country              Australia                     Austria
Frequency               Annual Quarterly   Monthly  Annual Quarterly
Time
2014-01-01                 NaN       NaN  35.72023     NaN       NaN
2014-02-01                 NaN       NaN  36.77441     NaN       NaN
2014-03-01                 NaN       NaN  36.31924     NaN       NaN
2014-04-01                 NaN       NaN  35.42709     NaN       NaN
2014-05-01                 NaN       NaN  34.23272     NaN       NaN
...                        ...       ...       ...     ...       ...
2023-08-01                 NaN       NaN  60.33166     NaN       NaN
2023-09-01                 NaN       NaN  62.07179     NaN       NaN
2023-10-01                 NaN       NaN  62.62614     NaN       NaN
2023-11-01                 NaN       NaN  61.77567     NaN       NaN
2023-12-01                 NaN       NaN  63.73055     NaN       NaN

Subject                                                  ...  \
Country              Belgium                     Canada  ...
Frequency    Monthly  Annual Quarterly   Monthly Annual  ...
Time                                                     ...
2014-01-01  48.10636     NaN       NaN  30.07202    NaN  ...
2014-02-01  48.84916     NaN       NaN  30.95100    NaN  ...
2014-03-01  48.28220     NaN       NaN  29.96547    NaN  ...
2014-04-01  45.98772     NaN       NaN  28.79349    NaN  ...
2014-05-01  44.73231     NaN       NaN  29.09980    NaN  ...
...              ...     ...       ...       ...    ...  ...
2023-08-01  74.67569     NaN       NaN  55.50713    NaN  ...
2023-09-01  76.49167     NaN       NaN  55.04503    NaN  ...
2023-10-01  80.71296     NaN       NaN  56.52643    NaN  ...
2023-11-01  77.79077     NaN       NaN  55.29437    NaN  ...
2023-12-01  79.87531     NaN       NaN  56.17670    NaN  ...

Subject    Immediate interest rates, Call Money, Interbank Rate, Per cent per annum  \
Country                                                                Saudi Arabia
Frequency                                                                   Monthly
Time
2014-01-01                                                NaN
2014-02-01                                                NaN
2014-03-01                                                NaN
2014-04-01                                                NaN
2014-05-01                                                NaN
...                                                       ...
2023-08-01                                                NaN
2023-09-01                                                NaN
2023-10-01                                                NaN
2023-11-01                                                NaN
2023-12-01                                                NaN

Subject                                                                      \
Country    Bulgaria                     Romania                     Croatia
Frequency    Annual Quarterly   Monthly  Annual Quarterly   Monthly  Annual
Time
2014-01-01      NaN       NaN   87.4707     NaN       NaN       NaN     NaN
2014-02-01      NaN       NaN   89.2576     NaN       NaN       NaN     NaN
2014-03-01      NaN       NaN  104.2588     NaN       NaN       NaN     NaN
2014-04-01      NaN       NaN  107.6133     NaN       NaN       NaN     NaN
2014-05-01      NaN       NaN  107.9652     NaN       NaN       NaN     NaN
...             ...       ...       ...     ...       ...       ...     ...
2023-08-01      NaN       NaN    1.6016     NaN       NaN  21.59100     NaN
2023-09-01      NaN       NaN    2.0694     NaN       NaN  21.00348     NaN
2023-10-01      NaN       NaN    1.8251     NaN       NaN  20.54190     NaN
2023-11-01      NaN       NaN    3.0313     NaN       NaN  21.04428     NaN
2023-12-01      NaN       NaN    1.9777     NaN       NaN  20.67182     NaN

Subject
Country
Frequency  Quarterly Monthly
Time
2014-01-01       NaN     9.5
2014-02-01       NaN     8.5
2014-03-01       NaN     8.5
2014-04-01       NaN     8.5
2014-05-01       NaN     8.5
...              ...     ...
2023-08-01       NaN     4.5
2023-09-01       NaN     4.5
2023-10-01       NaN     4.5
2023-11-01       NaN     4.5
2023-12-01       NaN     4.5

[120 rows x 1431 columns]

## **Get specific information from this DataFrame with Multilevel Index**


<font size="3">
The DataFrame we just downloaded is a Multilevel Index Dataframe. We need to understands its structure to be able to extract the information in an esay way. In the following scripts we will show one way to do that. The first thing we are going to do is to see the columns' names. That can be easily done with the pandas attribute "columns". As you can see below we get a list of all the columns in the DataFrame

In [4]:
#Get the column names
df1.columns

MultiIndex([(                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            ...
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...)],
           names=['Subject', 'Country', 'Frequency'], length=1431)

## **Transpose the DataFrame and further explore the names**


<font size="3">
It might be easier to work with rows instead of columns. That is because we can use the rows as an index, and then we can apply some methods that help us better understand the data structure. The first thing we do here is to transpose the DataFrame with the property "T".

In [5]:
df1.T

Time                                                                    2014-01-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      35.72023
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       9.50000

Time                                                                    2014-02-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      36.77441
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       8.50000

Time                                                                    2014-03-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      36.31924
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       8.50000

Time                                                                    2014-04-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      35.42709
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       8.50000

Time                                                                    2014-05-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      34.23272
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       8.50000

Time                                                                    2014-06-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      33.49716
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       8.50000

Time                                                                    2014-07-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      33.10753
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       8.50000

Time                                                                    2014-08-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      33.12756
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       8.50000

Time                                                                    2014-09-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       33.8176
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly        8.5000

Time                                                                    2014-10-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      35.68745
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly           NaN
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       8.50000

Time                                                                    ...  \
Subject                                            Country   Frequency  ...
Share Prices, Index                                Australia Annual     ...
                                                             Quarterly  ...
                                                             Monthly    ...
                                                   Austria   Annual     ...
                                                             Quarterly  ...
...                                                                     ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly  ...
                                                             Monthly    ...
                                                   Croatia   Annual     ...
                                                             Quarterly  ...
                                                             Monthly    ...

Time                                                                    2023-03-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      58.29767
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly      19.31454
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       4.50000

Time                                                                    2023-04-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      59.28762
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly      19.96565
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       4.50000

Time                                                                    2023-05-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      58.36786
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly      21.28400
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       4.50000

Time                                                                    2023-06-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       58.9150
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly       20.4995
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly        4.5000

Time                                                                    2023-07-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      60.12669
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly      21.05300
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       4.50000

Time                                                                    2023-08-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      60.33166
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly      21.59100
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       4.50000

Time                                                                    2023-09-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      62.07179
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN
                                                             Monthly      21.00348
                                                   Croatia   Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly       4.50000

Time                                                                    2023-10-01  \
Subject                                            Country   Frequency
Share Prices, Index                                Australia Annual            NaN
                                                             Quarterly         NaN
                                                             Monthly      62.62614
                                                   Austria   Annual            NaN
                                                             Quarterly         NaN
...                                                                            ...
Immediate interest rates, Call Money, Interbank... Romania   Quarterly         NaN

<font size="3">
As you can see we didn't get much more information than the one we got before. But we can try the "index" property and see what we get

In [6]:
df1.T.index

MultiIndex([(                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            (                                                     'Share Prices, Index', ...),
            ...
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...),
            ('Immediate interest rates, Call Money, Interbank Rate, Per cent per annum', ...)],
           names=['Subject', 'Country', 'Frequency'], length=1431)

<font size="3">
Still not much information.....but let's try the function "get_values()"

In [7]:
df1.T.index.get_level_values(0)

Index(['Share Prices, Index', 'Share Prices, Index', 'Share Prices, Index',
       'Share Prices, Index', 'Share Prices, Index', 'Share Prices, Index',
       'Share Prices, Index', 'Share Prices, Index', 'Share Prices, Index',
       'Share Prices, Index',
       ...
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum'],
      dtype='object', name='Subject', length=1431)

<font size="3">
Not much information either. Let's try with the function "unique()"

In [8]:
df1.T.index.get_level_values(0).unique()

Index(['Share Prices, Index', 'Narrow Money (M1) Index, SA',
       'Broad Money (M3) Index, SA',
       'Long-term interest rates, Per cent per annum',
       'Currency exchange rates, monthly average',
       'Relative consumer price indices', 'Relative unit labour costs',
       'Short-term interest rates, Per cent per annum',
       'Immediate interest rates, Call Money, Interbank Rate, Per cent per annum'],
      dtype='object', name='Subject')

<font size="3">
This is finally what we were looking for. This is a short list of the fields in the first level of the DataFrame. We can for instance use the indicator 'Short-term interest rates, Per cent per annum' and further explore the DataFrame selecting this field or column.

In [9]:
indicator = 'Short-term interest rates, Per cent per annum'

df1_filtered1 = df1[indicator]
df1_filtered1

Country    Australia                   Austria                   Belgium  \
Frequency     Annual Quarterly Monthly  Annual Quarterly Monthly  Annual
Time
2014-01-01       NaN       NaN    5.41     NaN       NaN  4.8400     NaN
2014-02-01       NaN       NaN    5.60     NaN       NaN  4.8000     NaN
2014-03-01       NaN       NaN    5.93     NaN       NaN  4.8700     NaN
2014-04-01       NaN       NaN    6.45     NaN       NaN  5.0300     NaN
2014-05-01       NaN       NaN    7.16     NaN       NaN  5.0500     NaN
...              ...       ...     ...     ...       ...     ...     ...
2023-08-01       NaN       NaN    5.57     NaN       NaN  2.0705     NaN
2023-09-01       NaN       NaN    5.51     NaN       NaN  2.0288     NaN
2023-10-01       NaN       NaN    5.54     NaN       NaN  2.0488     NaN
2023-11-01       NaN       NaN    5.51     NaN       NaN  2.0859     NaN
2023-12-01       NaN       NaN    5.49     NaN       NaN  2.1127     NaN

Country                      Canada  ... Saudi Arabia Bulgaria            \
Frequency  Quarterly Monthly Annual  ...      Monthly   Annual Quarterly
Time                                 ...
2014-01-01       NaN  5.4600    NaN  ...          NaN      NaN       NaN
2014-02-01       NaN  5.5000    NaN  ...          NaN      NaN       NaN
2014-03-01       NaN  5.4000    NaN  ...          NaN      NaN       NaN
2014-04-01       NaN  5.2200    NaN  ...          NaN      NaN       NaN
2014-05-01       NaN  5.1400    NaN  ...          NaN      NaN       NaN
...              ...     ...    ...  ...          ...      ...       ...
2023-08-01       NaN  2.0705    NaN  ...          NaN      NaN       NaN
2023-09-01       NaN  2.0288    NaN  ...          NaN      NaN       NaN
2023-10-01       NaN  2.0488    NaN  ...          NaN      NaN       NaN
2023-11-01       NaN  2.0859    NaN  ...          NaN      NaN       NaN
2023-12-01       NaN  2.1127    NaN  ...          NaN      NaN       NaN

Country            Romania                     Croatia
Frequency  Monthly  Annual Quarterly   Monthly  Annual Quarterly Monthly
Time
2014-01-01     NaN     NaN       NaN       NaN     NaN       NaN     NaN
2014-02-01     NaN     NaN       NaN       NaN     NaN       NaN     NaN
2014-03-01     NaN     NaN       NaN       NaN     NaN       NaN     NaN
2014-04-01     NaN     NaN       NaN       NaN     NaN       NaN     NaN
2014-05-01     NaN     NaN       NaN       NaN     NaN       NaN     NaN
...            ...     ...       ...       ...     ...       ...     ...
2023-08-01  2.9749     NaN       NaN  22.44150     NaN       NaN  7.7671
2023-09-01  3.0491     NaN       NaN  22.50000     NaN       NaN  8.4243
2023-10-01  3.2321     NaN       NaN  22.47190     NaN       NaN  7.4180
2023-11-01  3.5424     NaN       NaN  22.43143     NaN       NaN  5.9005
2023-12-01  3.1026     NaN       NaN  21.70864     NaN       NaN  5.5858

[120 rows x 159 columns]

<font size="3">
Here we got a DataFrame with all the countries' short interest rates on different frequencies. Let's dig a little bit deeper. Now we will select one particular country, for instance "Australia"

In [10]:
country = 'Australia'
df1_filtered1[country]

Frequency   Annual  Quarterly  Monthly
Time
2014-01-01     NaN        NaN     5.41
2014-02-01     NaN        NaN     5.60
2014-03-01     NaN        NaN     5.93
2014-04-01     NaN        NaN     6.45
2014-05-01     NaN        NaN     7.16
...            ...        ...      ...
2023-08-01     NaN        NaN     5.57
2023-09-01     NaN        NaN     5.51
2023-10-01     NaN        NaN     5.54
2023-11-01     NaN        NaN     5.51
2023-12-01     NaN        NaN     5.49

[120 rows x 3 columns]

<font size="3">
We can add an aditional selection, using the "Monthly" frequency.

In [11]:
frequency = 'Monthly'
df1_filtered1[country][frequency]

Time
2014-01-01    5.41
2014-02-01    5.60
2014-03-01    5.93
2014-04-01    6.45
2014-05-01    7.16
              ...
2023-08-01    5.57
2023-09-01    5.51
2023-10-01    5.54
2023-11-01    5.51
2023-12-01    5.49
Name: Monthly, Length: 120, dtype: float64

## **Download the data using a query**


<font size="3">
The OECD API has some instructions on how to download data directly in the following link https://data.oecd.org/api/sdmx-ml-documentation/ . With this information we can use the pandas "read_csv()" function to read the data. In this particular example we will write some specific text within {sdmx_query}. The text will be "MEI_FIN/IRLT.AUS.M/OECD" , which mean that we are using the MEI_FIN database to download the Long Term Interest Rate for Australia using a monthly frequency. This is shown below:

In [12]:
import pandas as pd

def get_from_oecd(sdmx_query):
    return pd.read_csv(f"https://stats.oecd.org/SDMX-JSON/data/{sdmx_query}?contentType=csv")


df2 = get_from_oecd("MEI_FIN/IRLT.AUS.M/OECD")
df2

,SUBJECT,Subject,LOCATION,Country,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-07,Jul-1969,PC,Percentage,0,Units,NaN,NaN,5.800,NaN,NaN
1,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-08,Aug-1969,PC,Percentage,0,Units,NaN,NaN,5.790,NaN,NaN
2,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-09,Sep-1969,PC,Percentage,0,Units,NaN,NaN,5.810,NaN,NaN
3,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-10,Oct-1969,PC,Percentage,0,Units,NaN,NaN,5.830,NaN,NaN
4,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-11,Nov-1969,PC,Percentage,0,Units,NaN,NaN,5.850,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-08,Aug-2023,PC,Percentage,0,Units,NaN,NaN,4.128,NaN,NaN
650,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-09,Sep-2023,PC,Percentage,0,Units,NaN,NaN,4.211,NaN,NaN
651,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-10,Oct-2023,PC,Percentage,0,Units,NaN,NaN,4.626,NaN,NaN
652,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-11,Nov-2023,PC,Percentage,0,Units,NaN,NaN,4.578,NaN,NaN
653,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-12,Dec-2023,PC,Percentage,0,Units,NaN,NaN,4.188,NaN,NaN

<font size="3">
This text is split in its different parameters here

In [13]:
database = 'MEI_FIN'
indicator = 'IRLT'
country_code = 'AUS'
frequency = 'M'

query_text = database+"/"+indicator+"."+country_code+"."+frequency+"/OECD"

df2 = get_from_oecd(query_text)
df2

,SUBJECT,Subject,LOCATION,Country,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-07,Jul-1969,PC,Percentage,0,Units,NaN,NaN,5.800,NaN,NaN
1,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-08,Aug-1969,PC,Percentage,0,Units,NaN,NaN,5.790,NaN,NaN
2,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-09,Sep-1969,PC,Percentage,0,Units,NaN,NaN,5.810,NaN,NaN
3,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-10,Oct-1969,PC,Percentage,0,Units,NaN,NaN,5.830,NaN,NaN
4,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,1969-11,Nov-1969,PC,Percentage,0,Units,NaN,NaN,5.850,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-08,Aug-2023,PC,Percentage,0,Units,NaN,NaN,4.128,NaN,NaN
650,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-09,Sep-2023,PC,Percentage,0,Units,NaN,NaN,4.211,NaN,NaN
651,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-10,Oct-2023,PC,Percentage,0,Units,NaN,NaN,4.626,NaN,NaN
652,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-11,Nov-2023,PC,Percentage,0,Units,NaN,NaN,4.578,NaN,NaN
653,IRLT,"Long-term interest rates, Per cent per annum",AUS,Australia,M,Monthly,2023-12,Dec-2023,PC,Percentage,0,Units,NaN,NaN,4.188,NaN,NaN

## **Download the data using the pandasdmx library**

<font size="3">
As usual, the first thing that we need to do is to install and import the required libraries

In [14]:
# !pip install pandasdmx

In [15]:
import pandasdmx as pdmx

#Initialize with OECD data
oecd = pdmx.Request("OECD")
oecd

<class 'pandasdmx.api.Request'> instance, source:                OECD (Organisation for Economic Co-operation and Development)

<font size="3">
After we initiate an instance of the previous class we can download the information. We can do that by typing the resource_id and the key. <br><br>

In this case resource_id is PDB_LV which stands for the productivity resource. <br><br>
    
And we want to download the information of the indicator T_GDPEMP which is GDP per employed worker.<br><br>
    
We can concatenate the different countries for which we need the information using the sign "+"<br><br>
    
At the end of the text we need to write the starting year of the time series. Below is an example of the code

In [16]:
data = oecd.data(
            resource_id="PDB_LV",
            key="GBR+FRA+CAN+ITA+DEU+JPN+USA.T_GDPEMP./all?startTime=2010",
                    ).to_pandas()

df3 = pd.DataFrame(data)
df3

                                               value
LOCATION SUBJECT  MEASURE TIME_PERIOD
CAN      T_GDPEMP C       2010          96349.661702
                          2011         100980.627090
                          2012         102779.407460
                          2013         105632.502160
                          2014         110482.623300
...                                              ...
USA      T_GDPEMP PCTUS   2018            100.000000
                          2019            100.000000
                          2020            100.000000
                          2021            100.000000
                          2022            100.000000

[366 rows x 1 columns]

If this content is helpful and you want to make a donation please click on the button

[![paypal](https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=29CVY97MEQ9BY)