![This is an image](Quant-Trading.jpg)

<font size="3">
Please visit our website <a href="https://www.quant-trading.co" target="_blank">quant-trading.co</a> for more tools on quantitative finance and data science.
</font>

In [1]:
# !pip install yfinance

# **YAHOO FINANCE API**

## **Â¿What can you download using this API?**

<font size="3"> The yahoo finance API is one of the oldest we have. The Yahoo Finance API is free to use for personal projects. There are a few python libraries you can use to download the data. Here we are using the <a href="https://pypi.org/project/yfinance/" target="_blank">yfinance</a> library. From the yahoo finance API you can not only download historical price date, but also information such as dividends, splits, news, etc. 
<br><br>

In [2]:
import warnings
warnings.filterwarnings('ignore')

import yfinance as yf  #Yahoo Finance
import datetime

In [3]:
#ASSET
ticker = 'AAPL'

## **Get an specific ticker**

<font size="3"> Stocks have an specific identification code. For example AAPLE stock's identifier is AAPL. This codes are called tickers. In the Yahoo Finance API there are tickers for stocks, but also for exchange rates, interest rates or ETFs. You can easily find them searching on the web.
<br><br>

In [4]:
my_ticker = yf.Ticker(ticker)
my_ticker

yfinance.Ticker object <AAPL>

## **Dividends**

In [5]:
my_ticker.dividends

Date
1987-05-11    0.000536
1987-08-10    0.000536
1987-11-17    0.000714
1988-02-12    0.000714
1988-05-16    0.000714
                ...
2022-11-04    0.230000
2023-02-10    0.230000
2023-05-12    0.240000
2023-08-11    0.240000
2023-11-10    0.240000
Name: Dividends, Length: 81, dtype: float64

## **Splits**

In [6]:
my_ticker.splits

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

## **Institutional holders**

In [7]:
my_ticker.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Group Inc,1299997133,2023-09-29,0.0841,237353478923
1,Blackrock Inc.,1031407553,2023-09-29,0.0667,188314392915
2,"Berkshire Hathaway, Inc",915560382,2023-09-29,0.0592,167163016222
3,State Street Corporation,569291690,2023-09-29,0.0368,103941277802
4,"FMR, LLC",298321726,2023-09-29,0.0193,54467581279
5,"Geode Capital Management, LLC",296103070,2023-09-29,0.0192,54062499062
6,Price (T.Rowe) Associates Inc,216307878,2023-09-29,0.0140,39493492761
7,Morgan Stanley,206732960,2023-09-29,0.0134,37745304215
8,Northern Trust Corporation,168874976,2023-09-29,0.0109,30833193427
9,Norges Bank Investment Management,167374278,2022-12-30,0.0108,30559195983

## **News**

In [8]:
my_ticker.news

[{'uuid': '027242c5-d342-3554-87ea-60e4ef682ba2',
  'title': 'Apple Loses Attempt to Delay U.S. Watch Ban',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/027242c5-d342-3554-87ea-60e4ef682ba2/apple-loses-attempt-to-delay.html',
  'providerPublishTime': 1705523880,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Dmo4Q7cu2EnlHL9V0lH2aw--~B/aD04NTM7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/2eba9596cb9f02858daefe26a690f7e7',
     'width': 1280,
     'height': 853,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/4jCSkETMusu22BvVohYBNw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/2eba9596cb9f02858daefe26a690f7e7',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'MASI']},
 {'uuid': '165dfd0e-3b45-381c-a149-0d5e705e9ad3',
  'title': 'Apple Must Stop Selling Watches With Blood Oxygen Feature',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/apple-must-stop-selling-watches-195208942.html',
  'providerPublishTime': 1705522390,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/XqN1R75HZKpp8aOSXPJBdg--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_technology_68/6fad699a36845abaf52d839b2f5c1829',
     'width': 2000,
     'height': 1333,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/ElYkLS5PX8sV48441NlXzQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_technology_68/6fad699a36845abaf52d839b2f5c1829',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'MASI']},
 {'uuid': 'b6809fa6-86ae-39db-90a4-b500902cc6c0',
  'title': 'UPDATE 2-US court bars Apple Watch imports during appeal over ban',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/1-us-court-bars-apple-201142417.html',
  'providerPublishTime': 1705522302,
  'type': 'STORY',
  'relatedTickers': ['AAPL', 'MASI']},
 {'uuid': '90b2fb91-2d5c-3d6d-b117-f05aafae3506',
  'title': 'US court bars Apple Watch imports during appeal over ban',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/court-bars-us-apple-watch-194803976.html',
  'providerPublishTime': 1705520883,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/wBw3o8OLYWudFm9ioVw0MQ--~B/aD01MzM7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/5b222ed47c0994452a85748913e780eb',
     'width': 800,
     'height': 533,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/bF26_hV6ryWZOZihNGa3gQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/reuters-finance.com/5b222ed47c0994452a85748913e780eb',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'MASI']},
 {'uuid': '05798fba-9476-3fe0-bbec-ac053ff5c193',
  'title': 'Court bars US Apple Watch imports during appeal over ban',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/court-bars-us-apple-watch-193753412.html',
  'providerPublishTime': 1705520273,
  'type': 'STORY',
  'relatedTickers': ['AAPL', 'MASI']},
 {'uuid': '42d9fb25-84a8-3490-b791-7b1bf3cd4078',
  'title': 'Apple Changes Its App Store Policy. Critics Call the Moves âOutrageous.â',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/42d9fb25-84a8-3490-b791-7b1bf3cd4078/apple-changes-its-app-store.html',
  'providerPublishTime': 1705519920,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/.JzKcVUlN9rAIzQjzNp9bw--~B/aD04NTI7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/4b2224b145a531684923b486f85c4e3f',
     'width': 1280,
     'height': 852,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/xX2.qaohOxJbXDpZ_zuncQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/4b2224b145a531684923b486f85c4e3f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL']},
 {'uuid': 'd13e6411-ed02-343a-80eb-fe3058e950e7',
  'title': 'Apple tops Samsung in global smartphone shipments for first time in 2023',
  'publisher': 'Fox Business',
  'link': 'https://finance.yahoo.com/news/apple-tops-samsung-global-smartphone-184140298.html',
  'providerPublishTime': 1705516900,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Ne_gY1IciEpDDg1o_Nhd.g--~B/aD03MjA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/fox_business_text_367/cffedc527185bb64b64339f489d449f9',
     'width': 1280,
     'height': 720,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/X7ZRXJsa6kQedH20lH7RXw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/fox_business_text_367/cffedc527185bb64b64339f489d449f9',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL']},
 {'uuid': 'f80e2450-0024-3faf-ae7c-d7bffe0bb134',
  'title': 'Samsungâs Galaxy S24 lineup goes all in on AI',
  'publisher': 'CNN Business',
  'link': 'https://finance.yahoo.com/m/f80e2450-0024-3faf-ae7c-d7bffe0bb134/samsung%E2%80%99s-galaxy-s24-lineup.html',
  'providerPublishTime': 1705516023,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/MPq__5a1Iv_ZviLBzjKZ8g--~B/aD01NDA7dz05NjA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/cnn_business_articles_218/7d4602b9fc5972519d42b9d53b9c7bec',
     'width': 960,
     'height': 540,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/OFoYQEgc9zwoEZz66qGwNw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/cnn_business_articles_218/7d4602b9fc5972519d42b9d53b9c7bec',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'SSNLF']}]

## **Historical price data - all history**

In [9]:
prices_hist1 = my_ticker.history(period="max")
prices_hist1

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.099319,0.099750,0.099319,0.099319,469033600,0.0,0.0
1980-12-15,0.094569,0.094569,0.094137,0.094137,175884800,0.0,0.0
1980-12-16,0.087659,0.087659,0.087228,0.087228,105728000,0.0,0.0
1980-12-17,0.089387,0.089818,0.089387,0.089387,86441600,0.0,0.0
1980-12-18,0.091978,0.092410,0.091978,0.091978,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-09,183.919998,185.149994,182.729996,185.139999,42841800,0.0,0.0
2024-01-10,184.350006,186.399994,183.919998,186.190002,46792900,0.0,0.0
2024-01-11,186.539993,187.050003,183.619995,185.589996,49128400,0.0,0.0
2024-01-12,186.059998,186.740005,185.190002,185.919998,40444700,0.0,0.0
2024-01-16,182.160004,184.259995,180.929993,183.630005,65603000,0.0,0.0

## **Historical price data - specific dates**

In [10]:
#DATES
start_date = datetime.datetime(2022, 12, 31)
end_date = datetime.datetime(2023, 12, 31)

prices_hist2 = my_ticker.history(start=start_date,end=end_date)
prices_hist2

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-03,129.555841,130.172390,123.479803,124.374802,112117500,0.0,0
2023-01-04,126.184691,127.944857,124.384755,125.657639,89113600,0.0,0
2023-01-05,126.423353,127.059795,124.066532,124.325081,80962700,0.0,0
2023-01-06,125.309594,129.565795,124.195816,128.899521,87754700,0.0,0
2023-01-09,129.744803,132.668464,129.168025,129.426575,70790800,0.0,0
...,...,...,...,...,...,...,...
2023-12-22,195.179993,195.410004,192.970001,193.600006,37122800,0.0,0
2023-12-26,193.610001,193.889999,192.830002,193.050003,28919300,0.0,0
2023-12-27,192.490005,193.500000,191.089996,193.149994,48087700,0.0,0
2023-12-28,194.139999,194.660004,193.169998,193.580002,34049900,0.0,0
2023-12-29,193.899994,194.399994,191.729996,192.529999,42628800,0.0,0

## **Historical price data - fixed time period back in time**

In [11]:
prices_hist3 = my_ticker.history(period='2y') #period is how long in the past to go
prices_hist3

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-18,169.572510,170.590874,167.496242,167.881836,90956700,0.0,0
2022-01-19,168.079574,169.147375,164.065440,164.352158,94815000,0.0,0
2022-01-20,165.093679,167.763175,162.325307,162.651581,91420500,0.0,0
2022-01-21,162.562606,164.451033,160.466559,160.575317,122848900,0.0,0
2022-01-24,158.212304,160.466546,152.952395,159.794220,162294600,0.0,0
...,...,...,...,...,...,...,...
2024-01-10,184.350006,186.399994,183.919998,186.190002,46792900,0.0,0
2024-01-11,186.539993,187.050003,183.619995,185.589996,49128400,0.0,0
2024-01-12,186.059998,186.740005,185.190002,185.919998,40444700,0.0,0
2024-01-16,182.160004,184.259995,180.929993,183.630005,65603000,0.0,0
2024-01-17,181.270004,182.680099,180.300003,182.595001,37945856,0.0,0

## **Historical price data - multiple tickers**

In [12]:
tickers_list = ['AAPL', 'GOOG', 'AMZN', 'TSLA', 'NVDA', 'MSFT','META']

multiple_prices = yf.download(tickers_list,period='1y')['Adj Close']
multiple_prices

[*********************100%***********************]  7 of 7 completed

,AAPL,AMZN,GOOG,META,MSFT,NVDA,TSLA
Date,,,,,,,
2023-01-17,135.184402,96.050003,92.160004,135.360001,238.237579,176.941513,131.490005
2023-01-18,134.458450,95.459999,91.779999,133.020004,233.737457,173.692947,128.779999
2023-01-19,134.518112,93.680000,93.910004,136.149994,229.891571,167.575638,127.169998
2023-01-20,137.103653,97.250000,99.279999,139.369995,238.108719,178.310867,133.419998
2023-01-23,140.325668,97.519997,101.209999,143.270004,240.447983,191.844864,143.750000
...,...,...,...,...,...,...,...
2024-01-10,186.190002,153.729996,143.800003,370.470001,382.769989,543.500000,233.940002
2024-01-11,185.589996,155.179993,143.669998,369.670013,384.630005,548.219971,227.220001
2024-01-12,185.919998,154.619995,144.240005,374.489990,388.470001,547.099976,218.889999
2024-01-16,183.630005,153.160004,144.080002,367.459991,390.269989,563.820007,219.910004
2024-01-17,182.595001,151.529999,142.815002,367.059998,389.079987,559.619995,214.985001

## **Options expirations**

In [13]:
exp_dates = my_ticker.options
exp_dates

('2024-01-19',
 '2024-01-26',
 '2024-02-02',
 '2024-02-09',
 '2024-02-16',
 '2024-02-23',
 '2024-03-01',
 '2024-03-15',
 '2024-04-19',
 '2024-05-17',
 '2024-06-21',
 '2024-07-19',
 '2024-08-16',
 '2024-09-20',
 '2024-12-20',
 '2025-01-17',
 '2025-06-20',
 '2025-09-19',
 '2025-12-19',
 '2026-01-16',
 '2026-06-18')

## **Options chain for one maturity**

In [14]:
my_ticker.option_chain('2024-09-20')

Options(calls=         contractSymbol             lastTradeDate  strike  lastPrice     bid  \
0   AAPL240920C00005000 2024-01-12 15:01:10+00:00     5.0     180.81  176.75
1   AAPL240920C00010000 2024-01-10 18:18:58+00:00    10.0     174.40  171.80
2   AAPL240920C00015000 2024-01-10 18:17:14+00:00    15.0     169.42  165.70
3   AAPL240920C00020000 2024-01-10 18:16:21+00:00    20.0     164.53  160.85
4   AAPL240920C00025000 2024-01-10 18:15:21+00:00    25.0     159.58  156.00
5   AAPL240920C00030000 2024-01-10 17:56:31+00:00    30.0     154.64  152.05
6   AAPL240920C00035000 2024-01-10 18:07:10+00:00    35.0     150.07  147.35
7   AAPL240920C00040000 2024-01-12 15:01:10+00:00    40.0     146.50  142.60
8   AAPL240920C00045000 2024-01-10 18:18:58+00:00    45.0     140.24  137.75
9   AAPL240920C00050000 2024-01-17 18:03:43+00:00    50.0     133.55  132.90
10  AAPL240920C00055000 2024-01-03 19:45:02+00:00    55.0     131.21  128.10
11  AAPL240920C00060000 2024-01-03 19:43:34+00:00    60.0     126.42  123.25
12  AAPL240920C00065000 2024-01-05 18:46:26+00:00    65.0     118.85  118.10
13  AAPL240920C00070000 2023-12-14 15:41:31+00:00    70.0     131.20  116.50
14  AAPL240920C00075000 2024-01-10 19:13:09+00:00    75.0     112.20  108.95
15  AAPL240920C00080000 2024-01-05 19:16:02+00:00    80.0     103.49  104.20
16  AAPL240920C00085000 2023-11-09 19:06:04+00:00    85.0     101.00  112.95
17  AAPL240920C00090000 2024-01-11 18:50:20+00:00    90.0      97.15   94.20
18  AAPL240920C00095000 2023-12-13 14:31:58+00:00    95.0     104.00   92.60
19  AAPL240920C00100000 2024-01-16 17:00:17+00:00   100.0      85.97   85.05
20  AAPL240920C00105000 2024-01-08 17:27:50+00:00   105.0      82.50   80.40
21  AAPL240920C00110000 2024-01-11 20:36:56+00:00   110.0      79.06   75.75
22  AAPL240920C00115000 2024-01-05 14:32:15+00:00   115.0      71.50   71.05
23  AAPL240920C00120000 2024-01-08 18:01:46+00:00   120.0      68.69   66.45
24  AAPL240920C00125000 2024-01-08 18:02:11+00:00   125.0      63.99   61.75
25  AAPL240920C00130000 2024-01-16 20:28:51+00:00   130.0      58.28   57.20
26  AAPL240920C00135000 2024-01-17 16:26:21+00:00   135.0      52.50   52.80
27  AAPL240920C00140000 2024-01-12 16:36:12+00:00   140.0      51.72   48.40
28  AAPL240920C00145000 2024-01-17 19:42:43+00:00   145.0      44.03   44.10
29  AAPL240920C00150000 2024-01-17 17:33:01+00:00   150.0      39.85   39.85
30  AAPL240920C00155000 2024-01-16 16:28:45+00:00   155.0      37.16   35.75
31  AAPL240920C00160000 2024-01-17 16:35:56+00:00   160.0      31.45   31.80
32  AAPL240920C00165000 2024-01-17 15:30:16+00:00   165.0      27.55   28.05
33  AAPL240920C00170000 2024-01-16 18:19:12+00:00   170.0      23.65   24.35
34  AAPL240920C00175000 2024-01-17 15:00:47+00:00   175.0      20.64   21.00
35  AAPL240920C00180000 2024-01-17 20:23:50+00:00   180.0      17.74   17.75
36  AAPL240920C00185000 2024-01-17 20:16:46+00:00   185.0      14.89   14.90
37  AAPL240920C00190000 2024-01-17 20:30:42+00:00   190.0      12.25   12.25
38  AAPL240920C00195000 2024-01-17 20:22:58+00:00   195.0      10.00    9.90
39  AAPL240920C00200000 2024-01-17 19:38:08+00:00   200.0       7.90    7.90
40  AAPL240920C00205000 2024-01-17 20:34:12+00:00   205.0       6.20    6.15
41  AAPL240920C00210000 2024-01-17 20:34:12+00:00   210.0       4.80    4.75
42  AAPL240920C00215000 2024-01-17 19:31:53+00:00   215.0       3.72    3.55
43  AAPL240920C00220000 2024-01-17 18:32:16+00:00   220.0       2.61    2.71
44  AAPL240920C00225000 2024-01-17 16:38:59+00:00   225.0       1.95    2.01
45  AAPL240920C00230000 2024-01-17 18:51:11+00:00   230.0       1.48    1.49
46  AAPL240920C00235000 2024-01-17 17:58:09+00:00   235.0       1.11    1.10
47  AAPL240920C00240000 2024-01-17 14:30:00+00:00   240.0       0.84    0.82
48  AAPL240920C00245000 2024-01-17 15:06:16+00:00   245.0       0.62    0.61
49  AAPL240920C00250000 2024-01-17 15:30:18+00:00   250.0       0.48    0.46
50  AAPL240920C00255000 2024-01-17 16:51:27+00:00   255.0       0.36    0.34
51  AAPL240920C00260000 2024-01-17 17:25:07+00:00   260.0       0.28    0.26
52  AAPL240920C00265000 2024-01-16 16:14:05+00:00   265.0       0.24    0.20
53  AAPL240920C00270000 2024-01-16 15:11:31+00:00   270.0       0.20    0.15
54  AAPL240920C00280000 2024-01-16 20:29:37+00:00   280.0       0.11    0.10
55  AAPL240920C00290000 2024-01-17 14:48:55+00:00   290.0       0.08    0.07
56  AAPL240920C00300000 2024-01-12 17:18:37+00:00   300.0       0.09    0.05
57  AAPL240920C00310000 2024-01-17 15:52:07+00:00   310.0       0.05    0.04

       ask    change  percentChange  volume  openInterest  impliedVolatility  \
0   177.95  0.000000       0.000000    12.0           128           2.117192
1   173.00  0.000000       0.000000   358.0           187           1.689455
2   168.85  0.000000       0.000000     NaN           179           1.792970
3   163.95  0.000000       0.000000     NaN             2           1.591799
4   159.10  0.000000       0.000000     NaN             2           1.453616
5   153.60  0.000000       0.000000   126.0            75           0.920899
6   148.45  0.000000       0.000000   692.0           347           0.886720
7   143.65  0.000000       0.000000     NaN            62           0.901368
8   138.75  0.000000       0.000000     NaN            11           0.865724
9   133.95 -0.270004      -0.201767    13.0          2247           0.839845
10  129.30  0.000000       0.000000     1.0           670           0.826662
11  124.65  0.000000       0.000000     1.0           792           0.803713
12  119.45  0.000000       0.000000     5.0           239           0.728762
13  118.95  0.000000       0.000000     1.0           229           0.984253
14  110.00  0.000000       0.000000     1.0            49           0.705325
15  105.05  0.000000       0.000000     2.0           176           0.672000
16  114.65  0.000000       0.000000    76.0            84           1.261478
17   95.45  0.000000       0.000000     1.0           110           0.601811
18   94.30  0.000000       0.000000     2.0            80           0.745120
19   85.85  0.000000       0.000000    12.0          2024           0.560917
20   81.25  0.000000       0.000000     1.0           831           0.542119
21   76.45  0.000000       0.000000     2.0           317           0.517827
22   71.75  0.000000       0.000000     5.0           414           0.508367
23   67.00  0.000000       0.000000     2.0           456           0.481695
24   62.45  0.000000       0.000000     6.0           410           0.461980
25   57.95  0.000000       0.000000     7.0           394           0.442877
26   53.25 -2.250000      -4.109589     4.0           400           0.416937
27   48.70  0.000000       0.000000     1.0          1979           0.394965
28   44.40 -1.900001      -4.136733   120.0          1206           0.378424
29   40.15 -0.250000      -0.623441     3.0          2550           0.361457
30   35.95  0.000000       0.000000     2.0          1921           0.343879
31   31.95 -0.730000      -2.268488     7.0           977           0.328620
32   28.20 -1.390001      -4.803045     5.0          1018           0.315955
33   24.60 -1.120001      -4.521602     1.0          5242           0.303321
34   21.20  0.119999       0.584790    19.0          8274           0.291267
35   17.90 -0.139999      -0.782994    41.0         11023           0.277717
36   15.05 -0.559999      -3.624592   926.0         12380           0.268257
37   12.40 -0.320000      -2.545742    60.0         13870           0.258217
38   10.05 -0.090000      -0.891974   135.0         10177           0.249061
39    8.05 -0.450000      -5.389225   179.0         15957           0.241524
40    6.30 -0.170000      -2.668761    57.0          7349           0.233894
41    4.85 -0.450000      -8.571425    99.0         14350           0.227242
42    3.65 -0.070000      -1.846964     8.0          4586           0.220894
43    2.77 -0.260000      -9.059234    72.0         22362           0.217171
44    2.05 -0.100000      -4.878044     1.0         17343           0.213082
45    1.53 -0.050000      -3.267971    14.0         14050           0.210762
46    1.16 -0.140000     -11.199999     1.0          1959           0.209969
47    0.86 -0.010000      -1.176476    15.0          2619           0.208626
48    0.64 -0.020000      -3.124997     4.0           805           0.207894
49    0.49 -0.010000      -2.040820    16.0          3723           0.208504
50    0.38  0.000000       0.000000     1.0          2738           0.209603
51    0.30 -0.040000     -12.499998     5.0          2318           0.211434
52    0.24  0.000000       0.000000     2.0           622           0.213387
53    0.20  0.000000       0.000000     8.0           528           0.216561
54    0.15 -0.020000     -15.384613     1.0          1016           0.224617
55    0.12 -0.010000     -11.111116     5.0           654           0.233406
56    0.10  0.000000       0.000000    50.0          1238           0.242683
57    0.07  0.000000       0.000000   350.0          5920           0.246590

    inTheMoney contractSize currency
0         True      REGULAR      USD
1         True      REGULAR      USD
2         True      REGULAR      USD
3         True      REGULAR      USD
4         True      REGULAR      USD
5         True      REGULAR      USD
6         True      REGULAR      USD
7         True      REGULAR      USD
8         True      REGULAR      USD
9         True      REGULAR      USD
10        True      REGULAR      USD
11        True      REGULAR      USD
12        True      REGULAR      USD
13        True      REGULAR      USD
14        True      REGULAR      USD
15        True      REGULAR      USD
16        True      REGULAR      USD
17        True      REGULAR      USD
18        True      REGULAR      USD
19        True      REGULAR      USD
20        True      REGULAR      USD
21        True      REGULAR      USD
22        True      REGULAR      USD
23        True      REGULAR      USD
24        True      REGULAR      USD
25        True      REGULAR      USD
26        True      REGULAR      USD
27        True      REGULAR      USD
28        True      REGULAR      USD
29        True      REGULAR      USD
30        True      REGULAR      USD
31        True      REGULAR      USD
32        True      REGULAR      USD
33        True      REGULAR      USD
34        True      REGULAR      USD
35        True      REGULAR      USD
36       False      REGULAR      USD
37       False      REGULAR      USD
38       False      REGULAR      USD
39       False      REGULAR      USD
40       False      REGULAR      USD
41       False      REGULAR      USD
42       False      REGULAR      USD
43       False      REGULAR      USD
44       False      REGULAR      USD
45       False      REGULAR      USD
46       False      REGULAR      USD
47       False      REGULAR      USD
48       False      REGULAR      USD
49       False      REGULAR      USD
50       False      REGULAR      USD
51       False      REGULAR      USD
52       False      REGULAR      USD
53       False      REGULAR      USD
54       False      REGULAR      USD
55       False      REGULAR      USD
56       False      REGULAR      USD
57       False      REGULAR      USD  , puts=         contractSymbol             lastTradeDate  strike  lastPrice     bid  \
0   AAPL240920P00005000 2024-01-12 14:30:19+00:00     5.0       0.01     NaN
1   AAPL240920P00010000 2024-01-09 14:30:00+00:00    10.0       0.01     NaN
2   AAPL240920P00015000 2024-01-08 20:45:31+00:00    15.0       0.01    0.00
3   AAPL240920P00035000 2024-01-08 20:45:25+00:00    35.0       0.02    0.01
4   AAPL240920P00050000 2024-01-17 15:38:54+00:00    50.0       0.04    0.04
5   AAPL240920P00055000 2024-01-17 18:17:34+00:00    55.0       0.06    0.03
6   AAPL240920P00060000 2024-01-03 20:18:37+00:00    60.0       0.08    0.04
7   AAPL240920P00065000 2024-01-08 14:59:40+00:00    65.0       0.09    0.06
8   AAPL240920P00070000 2024-01-12 18:08:48+00:00    70.0       0.10    0.08
9   AAPL240920P00075000 2024-01-16 19:42:58+00:00    75.0       0.10    0.11
10  AAPL240920P00080000 2024-01-09 20:41:08+00:00    80.0       0.15    0.14
11  AAPL240920P00085000 2024-01-08 20:22:58+00:00    85.0       0.16    0.18
12  AAPL240920P00090000 2024-01-17 17:35:11+00:00    90.0       0.23    0.23
13  AAPL240920P00095000 2024-01-02 14:49:36+00:00    95.0       0.34    0.29
14  AAPL240920P00100000 2024-01-17 19:42:27+00:00   100.0       0.38    0.38
15  AAPL240920P00105000 2024-01-17 15:29:47+00:00   105.0       0.47    0.44
16  AAPL240920P00110000 2024-01-11 14:50:58+00:00   110.0       0.55    0.55
17  AAPL240920P00115000 2024-01-17 15:27:42+00:00   115.0       0.73    0.68
18  AAPL240920P00120000 2024-01-17 15:24:15+00:00   120.0       0.93    0.85
19  AAPL240920P00125000 2024-01-17 17:01:58+00:00   125.0       1.08    1.06
20  AAPL240920P00130000 2024-01-17 17:43:56+00:00   130.0       1.33    1.31
21  AAPL240920P00135000 2024-01-17 20:05:21+00:00   135.0       1.67    1.63
22  AAPL240920P00140000 2024-01-16 17:37:39+00:00   140.0       2.04    2.02
23  AAPL240920P00145000 2024-01-17 15:39:51+00:00   145.0       2.63    2.50
24  AAPL240920P00150000 2024-01-17 20:06:04+00:00   150.0       3.10    3.10
25  AAPL240920P00155000 2024-01-17 17:37:57+00:00   155.0       3.90    3.80
26  AAPL240920P00160000 2024-01-17 17:45:36+00:00   160.0       4.90    4.70
27  AAPL240920P00165000 2024-01-17 19:04:05+00:00   165.0       5.89    5.75
28  AAPL240920P00170000 2024-01-17 18:38:18+00:00   170.0       7.17    7.00
29  AAPL240920P00175000 2024-01-17 16:17:38+00:00   175.0       8.72    8.50
30  AAPL240920P00180000 2024-01-17 19:50:43+00:00   180.0      10.40   10.25
31  AAPL240920P00185000 2024-01-17 15:39:51+00:00   185.0      12.67   12.30
32  AAPL240920P00190000 2024-01-17 14:59:57+00:00   190.0      15.20   14.75
33  AAPL240920P00195000 2024-01-16 20:26:02+00:00   195.0      17.00   17.45
34  AAPL240920P00200000 2024-01-17 19:56:34+00:00   200.0      20.70   20.60
35  AAPL240920P00205000 2024-01-17 14:30:00+00:00   205.0      25.09   24.10
36  AAPL240920P00210000 2024-01-16 15:33:46+00:00   210.0      28.00   28.05
37  AAPL240920P00215000 2024-01-04 16:46:12+00:00   215.0      33.00   32.60
38  AAPL240920P00220000 2024-01-08 14:42:22+00:00   220.0      36.91   37.25
39  AAPL240920P00225000 2023-12-05 16:16:03+00:00   225.0      31.55   42.50
40  AAPL240920P00230000 2024-01-10 18:01:34+00:00   230.0      45.62   46.50
41  AAPL240920P00235000 2023-12-18 20:09:55+00:00   235.0      38.75   51.80
42  AAPL240920P00240000 2023-12-15 20:27:30+00:00   240.0      41.87   52.60
43  AAPL240920P00245000 2023-11-13 17:02:40+00:00   245.0      60.23   46.45
44  AAPL240920P00250000 2024-01-10 20:34:42+00:00   250.0      64.06   66.80
45  AAPL240920P00255000 2024-01-10 20:34:42+00:00   255.0      69.09   72.15
46  AAPL240920P00260000 2023-06-01 16:16:30+00:00   260.0      79.97   64.10
47  AAPL240920P00265000 2023-08-04 15:14:07+00:00   265.0      79.91   73.65
48  AAPL240920P00270000 2023-12-15 20:27:30+00:00   270.0      71.91   82.55
49  AAPL240920P00280000 2023-09-06 17:45:19+00:00   280.0      96.59  101.00
50  AAPL240920P00290000 2023-07-24 15:14:49+00:00   290.0      96.33  107.50
51  AAPL240920P00300000 2024-01-10 18:01:58+00:00   300.0     115.72  116.75
52  AAPL240920P00310000 2024-01-10 18:01:34+00:00   310.0     125.64  126.90

       ask    change  percentChange  volume  openInterest  impliedVolatility  \
0     0.02  0.000000       0.000000     NaN             1           1.531252
1     0.02  0.000000       0.000000     NaN             1           1.210941
2     0.02  0.000000       0.000000    42.0           777           0.968750
3     0.04  0.000000       0.000000    19.0           334           0.695316
4     0.05 -0.010000     -20.000004    14.0           935           0.578129
5     0.07  0.030000     100.000000     1.0            55           0.542973
6     0.09  0.000000       0.000000     4.0           190           0.519536
7     0.11  0.000000       0.000000     1.0           347           0.514653
8     0.13  0.000000       0.000000     4.0           712           0.489263
9     0.16  0.000000       0.000000     1.0           466           0.468267
10    0.19  0.000000       0.000000     1.0           859           0.446783
11    0.23  0.000000       0.000000     1.0           737           0.427740
12    0.27  0.000000       0.000000     2.0           292           0.407721
13    0.32  0.000000       0.000000     1.0           646           0.389166
14    0.39  0.010000       2.702700   111.0          1976           0.373053
15    0.48 -0.030000      -6.000000     1.0          1638           0.358405
16    0.58  0.000000       0.000000     4.0          2181           0.343512
17    0.72  0.050000       7.352943     2.0          6741           0.330573
18    0.89  0.060000       6.896552     4.0          3163           0.318000
19    1.10  0.030000       2.857152     3.0          1678           0.306037
20    1.35  0.070000       5.555560   562.0          5199           0.293952
21    1.67  0.040000       2.453985     2.0          4488           0.282905
22    2.06  0.000000       0.000000    15.0          6317           0.272102
23    2.55  0.100000       3.952575     2.0          8046           0.261970
24    3.15  0.090000       2.990030  3734.0          9219           0.252205
25    3.90  0.160000       4.278077     7.0          5544           0.243111
26    4.80  0.300000       6.521743   100.0          6873           0.233986
27    5.85  0.690000      13.269233   216.0          6920           0.224312
28    7.10  0.340000       4.978040   287.0         13266           0.214638
29    8.60  0.070001       0.809256    14.0         27865           0.205239
30   10.40  0.599999       6.122443    17.0         15910           0.196297
31   12.45  0.270000       2.177423   115.0          6041           0.186348
32   14.85  0.870000       6.071178    14.0          7460           0.176430
33   17.70  0.000000       0.000000     2.0          3792           0.167702
34   20.80 -1.000000      -4.608295     3.0          5607           0.156014
35   24.45  1.540001       6.539282     1.0          5966           0.146859
36   28.55  0.000000       0.000000    25.0          3960           0.139596
37   32.95  0.000000       0.000000     2.0           468           0.131967
38   38.95  0.000000       0.000000     1.0           345           0.184640
39   43.45  0.000000       0.000000     6.0             1           0.181771
40   48.90  0.000000       0.000000     2.0             0           0.212715
41   53.55  0.000000       0.000000     8.0             0           0.213143
42   55.70  0.000000       0.000000     2.0             0           0.000010
43   47.95  0.000000       0.000000     2.0             0           0.000010
44   68.60  0.000000       0.000000     2.0             2           0.252937
45   74.10  0.000000       0.000000     2.0             0           0.285652
46   68.00  0.000000       0.000000     NaN             0           0.000010
47   77.45  0.000000       0.000000     4.0             0           0.000010
48   85.65  0.000000       0.000000     2.0             0           0.000010
49  103.50  0.000000       0.000000     2.0             0           0.476934
50  110.30  0.000000       0.000000     NaN             0           0.408514
51  118.05  0.000000       0.000000     2.0             0           0.322028
52  128.40  0.000000       0.000000     2.0             0           0.362799

    inTheMoney contractSize currency
0        False      REGULAR      USD
1        False      REGULAR      USD
2        False      REGULAR      USD
3        False      REGULAR      USD
4        False      REGULAR      USD
5        False      REGULAR      USD
6        False      REGULAR      USD
7        False      REGULAR      USD
8        False      REGULAR      USD

## **Error checking**

In [15]:
try:
    df = yf.download('AAPLE')
except Exception as e:
    print(f"Error: {e}")

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AAPLE: No data found, symbol may be delisted

If this content is helpful and you want to make a donation please click on the button

[![paypal](https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=29CVY97MEQ9BY)